<footer class="text-center" > 2017 &copy; Ample Admin brought to you by wrappixel.com </footer>
</div>
<!-- ============================================================== -->
<!-- End Page Content -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->

<script src="/petpet/presentation/assets/js/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/petpet/presentation/assets/js/Admin/bootstrap.min.js"></script>
<!-- Menu Plugin JavaScript -->
<script src="/petpet/presentation/assets/js/Admin/sidebar-nav.min.js"></script>
<!--slimscroll JavaScript -->
<script src="/petpet/presentation/assets/js/Admin/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="/petpet/presentation/assets/js/Admin/waves.js"></script>
<!--Counter js -->
<script src="/petpet/presentation/assets/js/Admin/jquery.waypoints.js"></script>
<script src="/petpet/presentation/assets/js/Admin/jquery.counterup.min.js"></script>
<!-- chartist chart -->
<script src="/petpet/presentation/assets/js/Admin/chartist.min.js"></script>
<script src="/petpet/presentation/assets/js/Admin/chartist-plugin-tooltip.min.js"></script>
<!-- Sparkline chart JavaScript -->
<script src="/petpet/presentation/assets/js/Admin/jquery.sparkline.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/petpet/presentation/assets/js/Admin/custom.min.js"></script>
<script src="/petpet/presentation/assets/js/Admin/dashboard1.js"></script>
<script src="/petpet/presentation/assets/js/Admin/jquery.toast.js"></script>

<!-- Plugins JS File -->
<script src="/petpet/presentation/assets/js/jquery.min.js"></script>
<script src="/petpet/presentation/assets/js/bootstrap.bundle.min.js"></script>
<script src="/petpet/presentation/assets/js/jquery.hoverIntent.min.js"></script>
<script src="/petpet/presentation/assets/js/jquery.waypoints.min.js"></script>
<script src="/petpet/presentation/assets/js/superfish.min.js"></script>
<script src="/petpet/presentation/assets/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="/petpet/presentation/assets/js/mainJS.js"></script>
</body>

</html>
