

            <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

            <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>

            <script type="text/javascript" src="/petpet/presentation/assets/js/Admin/home.js"></script>

            <!-- Plugins JS File -->
            <script src="/petpet/presentation/assets/js/jquery.min.js"></script>
            <script src="/petpet/presentation/assets/js/bootstrap.bundle.min.js"></script>
            <script src="/petpet/presentation/assets/js/jquery.hoverIntent.min.js"></script>
            <script src="/petpet/presentation/assets/js/jquery.waypoints.min.js"></script>
            <script src="/petpet/presentation/assets/js/superfish.min.js"></script>
            <script src="/petpet/presentation/assets/js/owl.carousel.min.js"></script>
            <!-- Main JS File -->
            <script src="/petpet/presentation/assets/js/mainJS.js"></script>

     
          
            </body>
</html>
