<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PetPet</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="PetPet">
    <meta name="author" content="p-themes">
    <link rel="icon" type="image/png" sizes="16x16" href="/petpet/presentation/assets/images/icons/favicon-32x32.png">
    <title>Ample Admin Template - The Ultimate Multipurpose admin template</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/petpet/presentation/assets/css/bootstrap.min.css">
    <!-- Menu CSS -->
    <link href="/petpet/presentation/assets/css/Admin/sidebar-nav.min.css" rel="stylesheet">
    <!-- toast CSS -->
    <link href="/petpet/presentation/assets/css/Admin/jquery.toast.css" rel="stylesheet">
    <!-- morris CSS -->
    <link href="/petpet/presentation/assets/css/Admin/morris.css" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="/petpet/presentation/assets/css/Admin/chartist.min.css" rel="stylesheet">
    <link href="/petpet/presentation/assets/css/Admin/chartist-plugin-tooltip.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="/petpet/presentation/assets/css/Admin/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/petpet/presentation/assets/css/Admin/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="/petpet/presentation/assets/css/Admin/default.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/petpet/presentation/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="32x32"
          href="/petpet/presentation/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"
          href="/petpet/presentation/assets/images/icons/favicon-32x32.png">
    <link rel="manifest" href="/petpet/presentation/assets/images/icons/site.html">
    <link rel="mask-icon" href="/petpet/presentation/assets/images/icons/safari-pinned-tab.svg" color="#666666">

    <meta name="apple-mobile-web-app-title" content="PetPet">
    <meta name="application-name" content="PetPet">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/petpet/presentation/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/petpet/presentation/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/petpet/presentation/assets/css/style.css">
</head>

<body class="d-flex flex-column min-vh-100">
<!-- ============================================================== -->
<!-- Preloader -->
<!-- ============================================================== -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
</div>
<!-- ============================================================== -->
<!-- Wrapper -->
<!-- ============================================================== -->
<div id="wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="header-left">

                </div><!-- End .header-left -->
            </div><!-- End .container -->
        </div><!-- End .header-top -->

        <div class="header-middle sticky-header fixed">
            <div class="container">
                <div class="header-left">
                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>

                    <a href="/petpet/home" class="logo">
                        <img src="/petpet/presentation/assets/images/logo.png" alt="PetPet Logo" width="105" height="25">
                    </a>
                    <nav class="main-nav">
                        <ul class="menu sf-arrows">
                            <li class="megamenu-container active">
                                <a href="/petpet/Admin-Home" > Dashboard</a>
                            </li>
                            <li>
                                <a href="/petpet/Products" > Products</a>
                            </li>
                            <li>
                                <a href="/petpet/" > Users</a>
                            </li>
                            <li>
                                <a href="/petpet/" > Categories</a>
                            </li>

                        </ul><!-- End .menu -->

                    </nav><!-- End .main-nav -->
                </div><!-- End .header-left -->

                <div class="header-right">
                    <div class="header-search">
                        <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                        <form action="#" method="get">
                            <div class="header-search-wrapper">
                                <label for="q" class="sr-only">Search</label>
                                <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                            </div><!-- End .header-search-wrapper -->
                        </form>
                    </div><!-- End .header-search -->

                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-middle -->
    </header><!-- End .header -->

    <!-- End Top Navigation -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav slimscrollsidebar">
            <div class="sidebar-head">
                <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3>
            </div>
            <ul class="nav" id="side-menu">
                <li style="padding: 70px 0 0;">
                    <a href="/petpet/Admin-Home" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a>
                </li>
                <li>
                    <a href="/petpet/Products" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i>Products</a>
                </li>
                <li>
                    <a href="" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i>Users</a>
                </li>
                <li>
                    <a href="" class="waves-effect"><i class="fa fa-font fa-fw" aria-hidden="true"></i>Categories</a>
                </li>

            </ul>
            <div class="center p-20">
                <a href="https://wrappixel.com/templates/ampleadmin/" target="_blank" class="btn btn-danger btn-block waves-effect waves-light">Upgrade to Pro</a>
            </div>
        </div>

    </div>